body{
   padding: 100px;
}
.log-in{
   margin-top: 50px;
    padding: 40px ;
    box-shadow: 5px 5px 10px gray;
    border-radius: 8px;
}
/* Inner part start*/
#tramsection{
   display: none;
}
.cards{
   border-radius: 20px;
   padding: 20px;
   color: white;
   margin-bottom: 20px;
}
.deposite{
   background-color: slateblue;
}
.widraw{
   background-color: salmon;
}
.balance{
   background-color: tomato;
}
.down{
   margin-top: 50px;
}